.rightbar{
    flex:3.5;
    margin:0 10px;

}

.searchBox{
    position:relative;
    background: #fff;
    padding:10px 12px 10px 40px;
    border-radius: 30px;
    border:1px solid #ddd;
}

.searchBox input{
    border:none;
    background: none;
    width:100%;
    font-size: 12px;
    outline: none;
}

.searchIcon{
    position:absolute;
    left:12px;
    top:50%;
    transform: translateY(-50%);
    color:#536471;
    font-size:16px;
}

.premiumBox{
    margin-top:8px;
    padding:0 8px 8px;
    border-radius:8px;
    margin-bottom:20px;
    border:1px solid #ddd;
}

.premiumButton{
    background:#1d9bf0;
    color:#fff;
    border:none;
    padding:10px 18px;
    border-radius: 30px;
    font-weight:700;
    cursor: pointer;
}