.profile{
    flex:6;
    border-right:1px solid #ddd;
    border-left:1px solid #ddd;
}

.profileHeader{
    display: flex;
    gap:15px;
    align-items:center;
    padding:2px;
    border-bottom: 1px solid #eee;
}

.profileCover img{
    width: 100%;
    height:200px;
    object-fit: cover;
    object-position:top;
}

.profileAvatarWrapper{
    position:relative;
    margin-top:-60px;
    padding-left:15px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.profileAvatar{
    width:120px;
    height:120px;
    border-radius: 50%;
    border:4px solid white;
}

.editBtn{
    padding:8px 18px;
    border-radius:20px;
    background: #fff;
    border:1px solid #ccc;
}

.followBtn{
    padding:8px 36px;
    border-radius:20px;
    background: black;
    color:white;
    border:1px solid #eee;
}

.profileInfo{
    padding:15px;
    border-bottom:1px solid #ccc;
}

.profileInfo h2{
    margin:0;
}

.profileFollow{
    margin-top:10px;
}

.profileFollow span{
    margin-right:15px;
}