.post-card{
    display: flex;
    gap:12px;
    padding:16px;
    border-bottom:1px solid #ddd;
}

.post-avatar{
    width:48px;
    height:48px;
    border-radius:50%;
}

.post-body{
    flex:1;
}

.post-header{
    display: flex;
    align-items: center;
    gap:6px;
    font-size:14px;
}

.post-username{
    font-weight: 700;
}

.post-userid,
.post-time{
    color:#536471;
    font-size:13px;
}

.post-text{
    font-size:15px;
    margin:6px 0 10px 0;
    line-height:1.4;
}

.post-image img{
    width:100%;
    border-radius:12px;
    margin-top:8px;
}

.post-actions{
    margin-top: 10px;
}

.postActionList{
    display: flex;
    list-style: none;
    gap:40px;
    padding:0;
    margin:0;
    color:#536471;
}

.postActionListItem{
    color:#536471;
    display: flex;
    align-items: center;
    gap:4px;
    font-size:14px;
    cursor: pointer;
}