.App {
  text-align: center;
  max-width: 500px;
  margin:50px auto;
  padding:20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

li{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:10px;
  margin-bottom:8px;
}

button{
  padding:5px;
  background-color: rgb(24, 196, 98);
  color:white;
  border:none;
  margin-left:5px;
}
