.createPostPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

  .postContainer {
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 500px;
    gap: 10px;
    padding: 0px 40px;
    box-shadow: 5px 9px 15px -5px rgb(209, 209, 209);

    h1 {
      margin: 0;
    }

    input {
      width: 100%;
      height: 30px;
      outline: none;
      padding: 0px 4px;
    }

    textarea {
      width: 100%;
      height: 120px;
      outline: none;
      padding: 7px;
    }   

    .postButton {
      padding: 10px 0;
      background-color: lightseagreen;
      border: none;

      box-shadow: 5px 9px 15px -5px rgb(209, 209, 209);
      color: white;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        transform: translateY(5px);
        box-shadow: none;
      }
    }
  }
}
