.homePage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .postContents {
    width: 600px;
    height: auto;
    max-height: 600px;
    background-color: white;
    box-shadow: 5px 9px 15px -5px #777;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;

    .postHeader h1 {
      text-align: center;
      margin-top: 5px;
    }

    .postTextContainer {
      height: auto;
      //文字がはみ出ないように
      word-wrap: break-word;
      max-height: 400px;
      width: 100%;
    }

    .nameAndDeleteButton {
      display: flex;
      align-items: center;

      button {
        flex: 10%;
        background-color: rgb(255, 90, 90);
        color: white;
        padding: 7px 15px;
        border-radius: 3px;
        border: none;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          background-color: rgb(255, 65, 65);
        }
      }

      h3 {
        flex: 90%;
      }
    }
  }
}
