nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: coral;
  gap: 45px;

  a {
    text-decoration: none;
    color: white;
    transition: all 0.3s;

    &:hover {
      color: aquamarine;
    }

    svg {
      margin-right: 5px;
    }
  }
}
